@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /* Colors */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --toggle: hsl(230, 22%, 74%);
    --toggle-dark:hsl(228, 28%, 20%);
    --dark-blue: hsl(230, 17%, 14%);
    --very-dark: hsl(232, 19%, 15%);
    --dark-desaturated-blue:  hsl(228, 28%, 20%);
    --desaturated-blue: hsl(228, 34%, 66%);
    --white: hsl(0, 0%, 100%);
    --white: hsl(0, 0%, 100%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --light-grayish-blue: hsl(227, 47%, 96%);
    --dark-grayish-blue: hsl(228, 12%, 44%);
    --very-dark-blue: hsl(230, 17%, 14%);
    /* Font */
    --font-family: 'Inter', sans-serif;
    --font-size: 14px;
    --font-weight-reg: 400;
    --font-weight-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-pale-blue);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-reg);
    color: var(--dark-grayish-blue);
    min-height: 100vh;
    width: 100vw;
}
