@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /* Colors */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --toggle: hsl(230, 22%, 74%);
    --toggle-dark:hsl(228, 28%, 20%);
    --dark-blue: hsl(230, 17%, 14%);
    --very-dark: hsl(232, 19%, 15%);
    --dark-desaturated-blue:  hsl(228, 28%, 20%);
    --desaturated-blue: hsl(228, 34%, 66%);
    --white: hsl(0, 0%, 100%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --light-grayish-blue: hsl(227, 47%, 96%);
    --dark-grayish-blue: hsl(228, 12%, 44%);
    --very-dark-blue: hsl(230, 17%, 14%);
    /* Font */
    --font-family: 'Inter', sans-serif;
    --font-size: 14px;
    --font-weight-reg: 400;
    --font-weight-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-reg);
    color: var(--dark-blue);
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;

    & > #app {
        width: 1200px;
        margin: 20px;

        & > nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-bottom: 40px;

            & > :first-child {
                & > h1 {
                    color: inherit;
                }
                & > p {
                    color: var(--dark-grayish-blue);
                    font-weight: var(--font-weight-bold);
                }
            }

            & > :last-child {
                justify-self: end;
            }
        }

        & > #global_vue {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 40px;

            & > .global_vue--card {
                width: 100%;
                height: 100%;
                padding: 10px;
                display: grid;
                border-radius: 5px;
                border-top-width: 5px;
                border-top-style: solid;
                background-color: var(--very-pale-blue);
                transition: transform 0.2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    background-color: var(--light-grayish-blue);
                }

                & > div {
                    justify-self: center;
                    width: fit-content;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;

                    & > img {
                        display: inline-block;
                        margin-right: 7px;
                    }

                    & > p {
                        display: inline-block;
                        font-weight: var(--font-weight-bold);
                        color: var(--dark-grayish-blue);
                    }
                }

                & > p:nth-child(2) {
                    text-align: center;
                    font-size: 3rem;
                    font-weight: var(--font-weight-bold);
                }

                & > p:nth-child(3) {
                    text-align: center;
                    font-size: 1rem;
                    color: var(--dark-grayish-blue);
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

                & > div:nth-child(4) {
                    display: flex;
                    align-items: center;

                    &:has([src="./images/icon-up.svg"]) > p {
                        color: var(--lime-green);
                    }

                    &:not(:has([src="./images/icon-up.svg"])) > p {
                        color: var(--bright-red);
                    }
                }
            }
        }

        & > #basic_vue {
            & > h2 {
                margin-bottom: 40px;
                color: var(--dark-grayish-blue);
            }

            & > #basic_vue--cards {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 20px;

                & > div {
                    padding: 20px;
                    border-radius: 5px;
                    background-color: var(--very-pale-blue);
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    transition: transform 0.2s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                        background-color: var(--light-grayish-blue);
                    }

                    & > * {
                        padding: 10px;
                    }

                    & > p:nth-child(1) {
                        color: var(--dark-grayish-blue);
                        font-weight: var(--font-weight-bold);
                    }

                    & > img {
                        justify-self: end;
                    }

                    & > p:nth-child(3) {
                        font-weight: var(--font-weight-bold);
                        font-size: 1.5rem;
                        align-self: end;
                    }

                    & > div {
                        place-self: end;
                        & > img {
                            display: inline-block;
                        }
                        & > p {
                            display: inline-block;
                            font-weight: var(--font-weight-bold);
                            color: var(--dark-grayish-blue);
                        }
                        &:has([src="./images/icon-up.svg"]) > p {
                            color: var(--lime-green);
                        }
                        &:not(:has([src="./images/icon-up.svg"])) > p {
                            color: var(--bright-red);
                        }
                    }
                }
            }
        }
    }
}

#facebook-card {
    border-top-color: var(--facebook);
}

#twitter-card {
    border-top-color: var(--twitter);
}

#instagram-card {
    border-top-color: var(--instagram);
}

#youtube-card {
    border-top-color: var(--youtube);
}
